/* *******************************************
 * Author:			Silvan Pfister
 * Project:			Passwortgenerator
 * Version:			1.1
 * Creation-Date:	24.05.2017
 * Licence:			MIT
 *
 *				Description:
 * Dieses Dokument ist das Stylesheet für die
 * Webseite des Passwortgenerators.
 ********************************************/
.full-length{
	width: 100%;
}
.unselectable{
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select:none;
	user-select:none;
	-o-user-select:none;
}
.group-error *{
	background-color: #c9302c !important;
	border-color: #761c19 !important;
}
div.progress {
	margin:6px 0px;
	background-color: black;
}

div.progress div {
	overflow: visible;
	white-space: nowrap;
}